.sass-cache
build
lib-cov
*.seed
*.log
*.dat
*.out
*.pid
*.gz
*.swo
*.DS_Store
.config
.npm
.node-gyp
.npm
.node-gyp
.config

node_modules
npm-debug.log.*
npm-debug.log
*.seed
*.log
*.dat
*.out
*.pid
*.gz
*.DS_Store
*.swp
*.swn
*.swm
